<launch>

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find ros4pro_robotique_theorique)/urdf/scara.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros4pro_robotique_theorique)/rviz/scara_fake.rviz"/>
</launch>
